<section class="home-section" *ngIf="products">
  <app-hero-section></app-hero-section>

  <div class=" w-[90%] relative inline-block text-white px-4 my-2 ml-16">
    <!-- The before pseudo-element for the horizontal line -->
    <div class="absolute inset-0 flex justify-between items-center">
      <span class="w-full h-[3px] bg-white opacity-50"></span>
    </div>

    <!-- The content box with shadow and text -->
    <strong class="relative z-10 text-4xl font-bold tracking-wide uppercase bg-[#2c1a4a] py-2 px-6 shadow-xl border border-white">
      BLACK FRIDAY BEST SELLERS
    </strong>
  </div>


  <div class="product-list grid grid-cols-5 gap-0 ml-[4.5rem] py-4 max-w-[90%]">
    <ng-container>
      <div class="product-items-wrapper" *ngFor="let ps of products.results">
        <a routerLink="/product-details/{{ps.kinguinId}}">
          <app-product
          [product]="{
            id: ps.kinguinId,
            discount: 44,
            name: ps.name,
            coverImage: ps.images.cover.url,
            price: ps.price || 0,
            platformIcon: ps.platform,
            currency:'USD',
            oldPrice: ps.price + 10 || 0
          }">
        </app-product>
        </a>
      </div>
    </ng-container>
    <ng-template #noProducts>
      <p>No products available.</p>
    </ng-template>
  </div>




</section>
